@keyframes fadeInDown {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fadeInRight {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    &--hidden {
        display: none;
    }

    &__item {
        animation-duration: 1.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;

        &:first-of-type {
            animation-name: fadeInDown;
            font-size: larger;
            color: #ffa448;
            text-shadow: 1px 1px 0 grey;
            font-weight: 700;
        }
        &:nth-of-type(2) {
            animation-name: fageInRight;
        }
        &:nth-of-type(3) {
            animation-name: fadeInLeft;
        }
        &:nth-of-type(4) {
            animation-name: fadeInDown;
            font-size: larger;
            color: #7dd145;
            text-shadow: 1px 1px 0 grey;
            font-weight: 700;
        }
        &:nth-of-type(5) {
            animation-name: fadeInRight;
        }
        &:nth-of-type(6) {
            animation-name: fadeInLeft;
        }
        &:nth-of-type(7) {
            animation-name: fadeInUp;
            font-size: larger;
            color: #ff0000;
            text-shadow: 1px 1px 0 grey;
            font-weight: 700;
        }
    }
}