.message {
    &__wrapper {
        padding: 15px;
        margin: 10px 0;
        border-radius: 20px;
        max-width: 500px;
        display: inline-block;
        box-shadow: 4px 4px 8px grey;
    }
    &--botMsg {
        text-align: right;
    }

    &--userMsg .message__wrapper {
        background-color: #7dd145;
        border-bottom-left-radius: 0;
    }

    &--botMsg .message__wrapper {
        background-color: #ffa448;
        border-top-right-radius: 0;
    }
}

